<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>  
    <add key="GoogleAPIKey" value="PUT API KEY HERE"/>  
    <add key="FoodtruckURL" value="http://127.0.0.1:5000/GeoQuery"/>  
    <add key="FoodtruckAPIKey" value="abb378be-2863-49ee-9081-d67496f8220c"/>  
  </appSettings>  
</configuration>